body {
    background-color: rgb(10, 10, 10);
    color: rgb(233, 233, 233);
    font-family: "Rubik", sans-serif;
    max-width: 840px;
    margin: auto;
    padding: 20px;

    /* Display page elements as a grid */
    display: grid;

    /* Header, controls, and footer take necessary space, remaining fills the viewport */
    grid-template-rows: max-content max-content 1fr max-content;

    /* Limit the body to the viewport height */
    height: 100vh;

    /* Adjust for padding of the body */
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;

    /* Makes transition smoother */
    opacity: 0;
}

header {
    display: flex;
    align-items: center;

    border-bottom: 1px solid white;
}

#title {
    margin: .5em;
    text-transform: uppercase;
}

#logo {
    height: 2em;
    align-self: center;
}

#controls {
    padding: .5em;
    border-bottom: 1px solid white;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 1;
    box-shadow: 0px 10px 20px black;
}

#controls div {
    display: inline-block;
    padding-right: 1em;
}

#controls .control {
    cursor: pointer;
}

.legend {
    font-weight: bold;
}

main {
    overflow: scroll;
    padding: 20px;
}

/* Set container */

.set-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 2em;
    padding-bottom: 2em;
}

.set-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    /* Needed to keep sizing */
    overflow: auto;
}

/* Thumbnail */

.set-thumbnail {
    width: 100%;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgb(233, 233, 233));
}

.set-thumbnail:hover {
    filter: drop-shadow(0px 0px 2px rgb(233, 233, 233)) brightness(125%);
    transform: translate3d(0px, 2px, 0);
    transition-duration: 0.07s;
}

/* Set title & subtitle */

.set-title {
    color: white;
    text-decoration: none;
}

.set-title .set-name {
    font-weight: bold;
    padding-bottom: .4em;
}

.set-title .set-subtitle {
    font-style: italic;
    color: grey;
    padding-bottom: 0.4em;
}

/* Playlist graph */

.song[data-energy="0"],
.song-tooltip[data-energy="0"] {
    background-color: grey;
    color: black;
}

.song[data-energy="1"],
.song-tooltip[data-energy="1"] {
    background-color: blue;
    color: white;
}

.song[data-energy="2"],
.song-tooltip[data-energy="2"] {
    background-color: green;
    color: white;
}

.song[data-energy="3"],
.song-tooltip[data-energy="3"] {
    background-color: yellow;
    color: black;
}

.song[data-energy="4"],
.song-tooltip[data-energy="4"] {
    background-color: orange;
    color: black;
}

.song[data-energy="5"],
.song-tooltip[data-energy="5"] {
    background-color: red;
    color: white;
}

.song-tooltip {
    border: 1px solid white;
    transition: 0.5s;
}

/* Timeline graph */

.poi-timeline {
    display: inline-block;
    width: 100%;
}

.svg-content-responsive {
    display: inline-block;
}

.timeline {
    height: 20px;
}

.timeline .song {
    cursor: crosshair;
    border: 1px solid white;
}

.timeline .song:hover {
    filter: brightness(120%);
    transition-duration: .07s;
}

footer {
    border-top: 1px solid white;
    padding: .5em;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 1;
    box-shadow: 0px -10px 20px black;
}

footer a {
    color: white;
}