/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

    /* One column for logo, the rest for title */
    #title {
        grid-column: 2 / span 4;
    }

    #sort {
        grid-column: 1 / span 5;
    }

    .set-container {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 2em;
        padding-bottom: 2em;
    }

    .set-info-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .timeline {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .timeline .song {
        margin: 0px 1px;
        cursor: crosshair;
        min-height: 4px;
        width: 20px;
        border-width: 1px;
    }

    .timeline .song:hover {
        height: 30px !important;
        filter: brightness(120%);
        transition-duration: .07s;
    }

    .song[data-energy="0"] {
        background-color: grey;
        height: 5px;
    }

    .song[data-energy="1"] {
        background-color: blue;
        height: 10px;
    }

    .song[data-energy="2"] {
        background-color: green;
        height: 15px;
    }

    .song[data-energy="3"] {
        background-color: yellow;
        height: 20px;
    }

    .song[data-energy="4"] {
        background-color: orange;
        height: 25px;
    }

    .song[data-energy="5"] {
        height: 30px;
    }

    .song-tooltip {
        padding: 0.2em;
    }
}