body {
    background-color: rgb(10, 10, 10);
    color: rgb(233, 233, 233);
    font-family: "Rubik", sans-serif;
    max-width: 840px;
    margin: auto;
    padding: 20px;

    /* Display page elements as a grid */
    display: grid;

    /* Header, controls, and footer take necessary space, remaining fills the viewport */
    grid-template-rows: max-content max-content 1fr max-content;

    /* Limit the body to the viewport height */
    height: 100vh;

    /* Adjust for padding of the body */
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;

    border-bottom: 1px solid white;
}

#title {
    margin: .5em;
}

#controls {
    padding: .5em;
    border-bottom: 1px solid white;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 1;
    box-shadow: 0px 10px 20px black;
}

main {
    overflow: scroll;
    padding: 20px;
}

footer {
    border-top: 1px solid white;
    padding: .5em;

    /* Add slight shadow effect as a scrolling signifier */
    z-index: 1;
    box-shadow: 0px -10px 20px black;
}

footer a {
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
        /* 4-column grid with 20px gutters */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 20px;
    }

    header {
        font-size: small;
    }

    /* Title takes whole row */
    #title {
        grid-column: 1 / span 4;
    }

    #sort {
        grid-column: 1 / span 4;
    }

    /* Thumbnail takes 2 rows */
    .set-thumbnail-link {
        grid-row-end: span 2;
    }

    /* Thumbnail image fills cell */
    .set-thumbnail {
        width: 100%;
    }

    /* Title gets its own line */
    .set-title {
        grid-column: 2 / span 3;
        align-content: center;
        color: white;
    }

    /* Timeline gets its own line */
    .timeline {
        grid-column: 2 / span 3;

        display: flex;
        justify-content: left;
        align-items: center;
    }

    .timeline .song {
        margin: 0px 1px;
        cursor: crosshair;
        min-height: 4px;
        width: 20px;
        border: 1px solid white;
    }

    .timeline .song:hover {
        height: 20px !important;
    }

    .song[data-energy="0"] {
        height: 4px;
    }

    .song[data-energy="1"] {
        height: 4px;
    }

    .song[data-energy="2"] {
        height: 8px;
    }

    .song[data-energy="3"] {
        height: 12px;
    }

    .song[data-energy="4"] {
        height: 16px;
    }

    .song[data-energy="5"] {
        height: 20px;
    }
}

/* Small devices  and up (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main {
        /* 5-column grid with 20px gutters */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 20px;
    }

    /* One column for logo, the rest for title */
    #title {
        grid-column: 1 / span 4;
    }

    #sort {
        grid-column: 1 / span 5;
    }

    /* Use 2 rows, this lets us use one each for title / waveform */
    .set-thumbnail-link {
        grid-row-end: span 2;
    }

    .set-title {
        grid-column: 2 / span 4;
        align-self: end;
        align-content: center;
        display: block;
        color: white;
    }

    .timeline {
        grid-column: 2 / span 4;

        display: flex;
        justify-content: left;
        align-items: center;
        align-self: start;
    }

    .timeline .song {
        margin: 0px 1px;
        cursor: crosshair;
        min-height: 4px;
        width: 20px;
        border-width: 1px;
    }

    .timeline .song:hover {
        height: 20px !important;
        filter: brightness(120%);
        transition-duration: .07s;
    }

    .song[data-energy="0"] {
        height: 4px;
    }

    .song[data-energy="1"] {
        height: 4px;
    }

    .song[data-energy="2"] {
        height: 8px;
    }

    .song[data-energy="3"] {
        height: 12px;
    }

    .song[data-energy="4"] {
        height: 16px;
    }

    .song[data-energy="5"] {
        height: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        /* 5-column grid with 20px gutters */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 20px;
    }

    /* One column for logo, the rest for title */
    #title {
        grid-column: 2 / span 4;
    }

    #sort {
        grid-column: 1 / span 5;
    }

    /* Use 1 row */
    .set-thumbnail-link {
        grid-row-end: span 1;
    }

    .set-title {
        grid-column: 2 / span 1;
        align-self: center;
        align-content: center;
        display: block;
        color: white;
    }

    .timeline {
        grid-column: 3 / span 3;

        display: flex;
        justify-content: left;
        align-items: center;
        align-self: center;
    }

    .timeline .song {
        margin: 0px 1px;
        cursor: crosshair;
        min-height: 4px;
        width: 20px;
        border-width: 1px;
    }

    .timeline .song:hover {
        height: 30px !important;
        filter: brightness(120%);
        transition-duration: .07s;
    }

    .song[data-energy="0"] {
        background-color: grey;
        height: 5px;
    }

    .song[data-energy="1"] {
        background-color: blue;
        height: 10px;
    }

    .song[data-energy="2"] {
        background-color: green;
        height: 15px;
    }

    .song[data-energy="3"] {
        background-color: yellow;
        height: 20px;
    }

    .song[data-energy="4"] {
        background-color: orange;
        height: 25px;
    }

    .song[data-energy="5"] {
        height: 30px;
    }
}

#title {
    text-transform: uppercase;
}

#logo {
    height: 2em;
    align-self: center;
}

.legend {
    font-weight: bold;
}

/* Thumbnail image fills cell */
.set-thumbnail {
    width: 100%;
    filter: drop-shadow(0px 0px 1px rgb(233, 233, 233));
}

/* Thumbnail collapses on hover */
.set-thumbnail:hover {
    filter: drop-shadow(-1px 1px 2px rgb(233, 233, 233)) brightness(125%);
    transform: translate3d(1px, -1px, 0);
    transition-duration: 0.07s;
}

.timeline {
    height: 20px;
}

.timeline .song {
    cursor: crosshair;
    border: 1px solid white;
}

.timeline .song:hover {
    filter: brightness(120%);
    transition-duration: .07s;
}

.song[data-energy="0"] {
    background-color: grey;
}

.song[data-energy="1"] {
    background-color: blue;
}

.song[data-energy="2"] {
    background-color: green;
}

.song[data-energy="3"] {
    background-color: yellow;
}

.song[data-energy="4"] {
    background-color: orange;
}

.song[data-energy="5"] {
    background-color: red;
}