/* Colors */
/* From https://sass-guidelin.es/#architecture */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  /* Makes transition smoother */
  opacity: 0;
}

body {
  background: rgb(10, 10, 10);
  color: rgb(233, 233, 233);
  font-family: "Rubik", sans-serif;
  max-width: 840px;
  margin: auto;
  padding: 20px;
  /* Display page elements as a grid */
  display: grid;
  /* Header, controls, and footer take necessary space, remaining fills the viewport */
  grid-template-rows: max-content max-content 1fr max-content;
  /* Limit the body to the viewport height */
  height: 100vh;
  /* Adjust for padding of the body */
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 10px 20px rgb(10, 10, 10);
}
@media (max-width: 600px) {
  header {
    font-size: x-small;
  }
}

#title {
  margin: 0.5em;
  text-transform: uppercase;
  width: 100%;
}

#logo {
  height: 2em;
  align-self: center;
}

main {
  overflow: scroll;
  padding: 20px;
}

footer {
  border-top: 1px solid rgb(233, 233, 233);
  padding: 0.5em;
  /* Add slight shadow effect as a scrolling signifier */
  z-index: 1;
  box-shadow: 0px -10px 20px rgb(10, 10, 10);
}
footer a {
  color: rgb(233, 233, 233);
}

/* Colors */
/* From https://sass-guidelin.es/#architecture */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  /* Makes transition smoother */
  opacity: 0;
}

body {
  background: rgb(10, 10, 10);
  color: rgb(233, 233, 233);
  font-family: "Rubik", sans-serif;
  max-width: 840px;
  margin: auto;
  padding: 20px;
  /* Display page elements as a grid */
  display: grid;
  /* Header, controls, and footer take necessary space, remaining fills the viewport */
  grid-template-rows: max-content max-content 1fr max-content;
  /* Limit the body to the viewport height */
  height: 100vh;
  /* Adjust for padding of the body */
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 10px 20px rgb(10, 10, 10);
}

@media (max-width: 600px) {
  header {
    font-size: x-small;
  }
}
#title {
  margin: 0.5em;
  text-transform: uppercase;
  width: 100%;
}

#logo {
  height: 2em;
  align-self: center;
}

main {
  overflow: scroll;
  padding: 20px;
}

footer {
  border-top: 1px solid rgb(233, 233, 233);
  padding: 0.5em;
  /* Add slight shadow effect as a scrolling signifier */
  z-index: 1;
  box-shadow: 0px -10px 20px rgb(10, 10, 10);
}

footer a {
  color: rgb(233, 233, 233);
}

#about-page {
  /* Extra small devices (phones, 600px and down) */
}
#about-page main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1em;
}
#about-page div {
  grid-column: 2/span 4;
}
#about-page a {
  color: rgb(233, 233, 233);
}
#about-page .code {
  font-family: "Courier New", Courier, monospace;
  background: #4d4d4d;
  padding: 0em 0.2em;
  border-radius: 0.2em;
}
#about-page #example-timeline {
  width: 100%;
}
#about-page #example-playlist {
  width: 100%;
  padding: 10px 0;
  height: 70px;
}
@media only screen and (max-width: 600px) {
  #about-page main {
    display: block;
  }
}

/* Playlist graph */
.playlist {
  display: flex;
  align-items: center;
  height: 20px;
}
.playlist .song {
  cursor: crosshair;
  min-height: 4px;
  width: 20px;
  margin: 0px 1px;
  border: 1px solid white;
}
.playlist .song:hover {
  filter: brightness(120%);
  transition-duration: 0.07s;
  height: 20px !important;
}
@media (min-width: 992px) {
  .playlist .song:hover {
    height: 30px !important;
  }
}

.song[data-energy="0"],
.song-tooltip[data-energy="0"] {
  background-color: grey;
  color: black;
  height: 4px;
}
@media (min-width: 992px) {
  .song[data-energy="0"],
  .song-tooltip[data-energy="0"] {
    height: 5px;
  }
}
.song[data-energy="1"],
.song-tooltip[data-energy="1"] {
  background-color: blue;
  color: white;
  height: 4px;
}
@media (min-width: 992px) {
  .song[data-energy="1"],
  .song-tooltip[data-energy="1"] {
    height: 10px;
  }
}
.song[data-energy="2"],
.song-tooltip[data-energy="2"] {
  background-color: green;
  color: white;
  height: 8px;
}
@media (min-width: 992px) {
  .song[data-energy="2"],
  .song-tooltip[data-energy="2"] {
    height: 15px;
  }
}
.song[data-energy="3"],
.song-tooltip[data-energy="3"] {
  background-color: yellow;
  color: black;
  height: 12px;
}
@media (min-width: 992px) {
  .song[data-energy="3"],
  .song-tooltip[data-energy="3"] {
    height: 20px;
  }
}
.song[data-energy="4"],
.song-tooltip[data-energy="4"] {
  background-color: orange;
  color: black;
  height: 16px;
}
@media (min-width: 992px) {
  .song[data-energy="4"],
  .song-tooltip[data-energy="4"] {
    height: 25px;
  }
}
.song[data-energy="5"],
.song-tooltip[data-energy="5"] {
  background-color: red;
  color: white;
  height: 20px;
}
@media (min-width: 992px) {
  .song[data-energy="5"],
  .song-tooltip[data-energy="5"] {
    height: 30px;
  }
}

.song-tooltip {
  border: 1px solid white;
  transition: 0.5s;
  padding: 0.2em;
  /* Allows us to set color in one place but unset height here */
  height: unset !important;
}

/* Set container */
.set-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 2em;
  padding-bottom: 2em;
}
@media (max-width: 600px) {
  .set-container {
    grid-template-columns: 100px 1fr;
    gap: 1.5em;
    padding-bottom: 1.5em;
  }
}

.set-info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* Needed to keep sizing */
  overflow: auto;
}

/* Thumbnail */
.set-thumbnail {
  width: 100%;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 3px rgb(233, 233, 233));
}
.set-thumbnail:hover {
  filter: drop-shadow(0px 0px 2px rgb(233, 233, 233)) brightness(125%);
  transform: translate3d(0px, 2px, 0);
  transition-duration: 0.07s;
}

/* Set title & subtitle */
.set-title {
  color: rgb(233, 233, 233);
  text-decoration: none;
}
.set-title .set-name {
  font-weight: bold;
  padding-bottom: 0.4em;
}
.set-title .set-subtitle {
  font-style: italic;
  color: grey;
  padding-bottom: 0.4em;
}
@media (max-width: 600px) {
  .set-title .set-subtitle {
    font-size: x-small;
  }
}

/* Set details */
.set-details span {
  padding-right: 1em;
  display: inline-block;
}

/* Settings / controls menu */
#settings {
  height: 2em;
  align-self: center;
  transition: 0.4s;
  cursor: pointer;
}
#settings:hover {
  transform: rotate(60deg);
}

#controls {
  padding: 0.5em;
  border-bottom: 1px solid white;
  /* Add slight shadow effect as a scrolling signifier */
  z-index: 2;
  box-shadow: 0px 10px 20px black;
}
#controls.hidden {
  display: block !important;
  padding: 0;
  border: 0;
}
#controls.hidden div {
  display: none;
}
#controls div {
  display: inline-block;
  padding-right: 1em;
}
#controls .control {
  cursor: pointer;
}

/* Timeline graph */
.timeline {
  display: inline-block;
  width: 100%;
}
.timeline path {
  stroke: white;
  stroke-width: 2px;
}
.timeline .cue-point {
  stroke: white;
  stroke-width: 2px;
}

.svg-content-responsive {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
